.centered {
  position: absolute;
  top: 35%;
  left: 33%;
}

.centeredButtons {
  margin-top: 30px;
  margin-left: 155px;
}

.btn {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: darkslategray;
  color: whitesmoke;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

a {
  color: orange;
}

a:hover {
  color: rgb(255, 123, 0);
}