.centered {
  position: absolute;
  top: 35%;
  left: 35%;
}

.centeredButtons {
  margin-top: 30px;
  margin-left: 150px;
}

.btn {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
}
